.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(tab-port) { // width < 900?
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @include respond(tab-port) { // width < 900?
        margin: 0;
      }
    }

    @include respond(tab-port) { // width < 900?
      flex: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;
      transform: scaleY(0);
      transition: transform .1s,
                  width .2s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s;
    }

    &:active::before {
      background-color: $color-primary-light;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__link:link,
  &__link:visited {
    color: $color-grey-light-1;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    @include respond(tab-port) { // width < 900?
      justify-content: center;
    }

    @include respond(phone) { // width < 600?
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond(phone) { // width < 600?
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// non andrebbe qui

.legal {
  font-size: 1.2rem;
  color: $color-grey-light-4;
  text-align: center;
  padding: 2.5rem;

  @include respond(tab-port) { // width < 900?
    display: none;
  }
}
